/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2017, 1:25:28 AM
    Author     : Ellithy
*/
table,th,tr,td{border:2px;border-style:solid; border-spacing: 2px; width: 50%; padding: 2px; 
               text-align: center}
table#t02 {
    width: 100%; 
    background-color: cyan;
}
table#t02 tr:nth-child(even) {
    background-color: #eee;
}
table#t02 tr:nth-child(odd) {
    background-color: #fff;
}
table#t02 th {
    color: white;
    background-color: darkred;
}
table#t03 {background-color: cornflowerblue;border-style: dotted}
table#t03  td{background-color: cornflowerblue;border-style: dashed}

table.myStyle{border:1px;border-style: dashed; border-spacing: 1px; width: 25%; padding: 1px; 
               background-color: bisque;text-align: left}
     .myStyle td,.myStyle th{border-style: dotted;}
     
table#t04 th{background-color: #FF0000}
table#t04 tr:nth-child(even){ 
               background-color: #0000FF}
table#t04 tr:nth-child(odd){ 
               background-color: #00FF00}
